.hlabel {
    font-family: Verdana;
    font-weight: bold;
    font-size:28px;
}

.label {
    font-family: Verdana;
    font-weight: bold;
    font-size:20px;
}

#tblDir {
            width: 305px;
            height: 325px;  
            position:relative;    
            z-index:1000;

        }

        #tblDir td {
            width:100px;
            text-align:center;
            opacity: 1;
        }

        #tblDir td div {
            margin:auto
        }

        #tblDir td input {
            position:relative;
        }

